<style>
h1 {color:maroon;}
p {color:black;}
h6 {color:maroon;
/* font-size:150%; */
text-align:left}
footer {
  text-align: right;
  padding: 9px;
  background-color: orange;
  color: white;
  font-size: 8%:
}
</style>

<h1 style="text-align:center;">Susbcribe as a Donor to Give</h1>
<h1 style="text-align:center;">A Little Love</h1>
<hr class="line2">
<img src= "https://www.caracaschronicles.com/wp-content/uploads/2019/06/Venezuelan-Children.jpg" alt="Venezuelan children transporting a child's casket" style="float:right;width:520px">

<%= render 'form', donor: @donor %>

<p style="text-align:center;"> <u> <%= link_to 'Donate Now', donations_path %> </u></p>

<p style="font-size:50%;"> <p style="text-align:center;"> If you already donated before just click donate now to continue</strong></p>
<hr>                                                                                                            </hr>
<h6>A Little Love is a Venezuelan NGO that works tirelessly to help feed needy venezuelan households.<br> 
An estimated 840,000 children have lost at least one parent to emigration, the child advocacy group Cecodap reports. <br>
That’s on top of the conditions that are devastating much of Venezuela’s population: Hyperinflation and joblessness, power outages and shortages of medicine, food and water. <br>
The United Nations estimates that 3.7 million people have fled the country. <br>
The New York Times tracked 21 hospitals over 17 states in Venezuela and discovered the harrowing condition in which children live. Many are dying of malnutrition 
and dehydration in the country since the economy began to collapse in 2014. <br>
<p><a href="https://people.com/chica/children-die-of-malnutrition-in-venezuela/">people.com/chica/children-die-of-malnutrition-in-venezuela</a></p>
</h6>

<footer>
  <p>Author: Rossana Godfrey<br>
  <a href="mailto:rossana.godfrey@gmail.com">rossana.godfrey@gmail.com</a></p>
</footer>