<h1 style="text-align:center;">Susbcribe as a Donor to give</h1>
<h1 style="text-align:center;">A Little Love</h1>

<img src= "https://www.caracaschronicles.com/wp-content/uploads/2019/06/Venezuelan-Children.jpg" alt="Venezuelan children transporting a child's casket" style="float:right;width:600px">
<%= render 'form', donor: @donor %>

<%# <%= link_to 'Back', donors_path %>

<p style="text-align:center;"> <%= link_to 'Donate Now', donations_path %>

<p>



</p>
<p></p>

<p style="font-size:50%;"> <p style="text-align:center;"> If you already donated before just click donate to continue</p>

<p style="font-size:90%;">A Little Love is a Venezuelan NGO that works tirelessly to help feed needy venezuelans households.</p> 
<p style="font-size:90%;">An estimated 840,000 children have lost at least one parent to emigration, the child advocacy group Cecodap reports.
<%# <p style="font-size:80%;">https://www.washingtonpost.com/world/the_americas/childhood-disrupted-venezuela-is-in-danger-of-losing-a-generation/2019/05/26/748f0b3c-6136-11e9-bf24-db4b9fb62aa2_story.html %>
<p style="font-size:90%;">That’s on top of the conditions that are devastating much of Venezuela’s population: Hyperinflation and joblessness, power outages and shortages of medicine, food and water.
<p style="font-size:90%;">The United Nations estimates that 3.7 million people have fled the country.
<p style="font-size:90%;">The New York Times tracked 21 hospitals over 17 states in Venezuela and discovered the harrowing condition in which children live. Many are dying of malnutrition
<p style="font-size:90%;">and dehydration in the country since the economy began to collapse in 2014.
<p style="font-size:90%;">https://people.com/chica/children-die-of-malnutrition-in-venezuela/ </p>